body{
    background-image: conic-gradient(red, yellow, red);
}

.login{
    border-radius: 30px;
    padding: 20px;
    margin: auto;
    width: 400px;
    background-color: rgb(106, 104, 224);
    border: 2px solid white;
}

.login img{
    width: 100%;
}

.login h2{
    color: white;
}

.login label{
    color: white;
}